    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Travel &amp; Lodging</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Getting There</h4>
                        <p>Fly into RDU if you are flying.</p>
                        <h4>Getting Around</h4>
                        <p>Services like Lyft and Uber are easy to get.</p>
                        <h4>Lodging</h4>
                        <p>Please use the links below to reserve rooms by September 20, 2018.</p>
                        <p>We have a block of rooms reserved at <a
                                href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Redmond/Kliban%20Wedding%5ERdunt%60RKWRKWA%7CRKWRKWB%60109.00%60USD%60false%605%6010/12/18%6010/14/18%609/21/18&app=resvlink&stop_mobi=yes">Courtyard Raleigh North/Triangle Town Center</a> near the wedding site. $109/night with complimentary on-site parking.
                        </p>
                        <p>We also have a block at <a
                                href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Redmond%20Kliban%20Wedding%20Party%20%5Erduar%60RKWRKWA%7CRKWRKWB%60109.00%60USD%60false%604%6010/12/18%6010/14/18%609/21/18&app=resvlink&stop_mobi=yes">AC Hotel Raleigh North Hills</a> closer to downtown. $109/night with complimentary parking off site - 7 minute walk. $22/night for valet parking. There is a rooftop bar.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/dennis-hannah-juggling.jpg">
                </div>
            </div>
        </div>
    </section>