    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Travel &amp; Lodging</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Getting There</h4>
                        <p>Fly into RDU if you are flying.</p>
                        <h4>Getting Around</h4>
                        <p>Services like Lyft and Uber are easy to get.</p>
                        <h4>Lodging</h4>
                        <p>We will update this later.</p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/lodge.jpg">
                </div>
            </div>
        </div>
    </section>