    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/fight.jpg" srcset="/img/fight.jpg 2x">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">REGISTRY</h2>

                    <p>We have registered at <a
                            href="https://www.amazon.com/wedding/share/hannahanddennis">Amazon.com
                    </a> and <a
                            href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=545727889">Bed Bath & Beyond</a>.</p>
                </div>
            </div>
        </div>
    </section>