    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/flowers-new.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Saturday: Wedding</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <h3 class="service-heading">Ceremony and Brunch</h3>
                    <h4>Saturday, October 13th</h4>
                    <h5><a
                            href="https://www.raleighnc.gov/parks/content/ParksRec/Articles/Parks/Durant.html">Campbell Lodge at Durant Nature Preserve</a></h5>
                    <p class="text-muted"><a
                            href="https://maps.google.com/?q=3237+Spottswood+Street,+Raleigh,+NC+27615">3237 Spottswood Street, Raleigh, NC 27615</a></p>

                    <p>
                    Attire: Sunday's best<br>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <img src="img/DNPCampbellLodgeFront.jpg" style="max-width: 100%"></img>
                </div>
            </div>

            <div class="row image-row">
                <div class="col-md-5 col-lg-4 col-md-push-6">
                    <p>As you get closer to the Durant Nature Preserve, you may think you are
                        in the wrong place because the area feels very industrial. Keep
                        following the directions on your GPS and you will eventually turn
                        right into the park.</p>
                    <p>There is plenty of parking in the lot adjacent to Campbell Lodge.</p>
                </div>
                <div class="col-md-5 col-md-offset-1 text-center col-md-pull-5 col-lg-pull-4">
                    <iframe frameborder="0" style="width:350px; height:350px; border:0; max-width:
                    100%;  margin: 0
                    auto; display: block;"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVALL9l4V61DvadefOfMbJK_zs_xx_KN0&q=3237+Spottswood+Street,+Raleigh,+NC+27615" allowfullscreen>
                    </iframe>
                </div>
                <div class="col-md-5 col-lg-4 col-md-push-6">
                    <p>
                        Please join us at our house on Saturday evening at 7PM. We will have some
                        food, drinks, and a fire in our back yard.
                    </p>
                </div>
            </div>
        </div>
    </section>